/* Arquivos com css hardcoded: */
/*  - /proteger/offering.zul */
/*  - /proteger/procedure.zul */
/* .z-loading { */
/* 	top: 50% !important; */
/* 	left: 45% !important; */
/* 	align: center; */
/* 	vertical-align: middle; */
/* } */
.meu-menubar {
	background-image: none;
	background-color: #102d35;
	border: 0;
}

.meu-menubar .z-menu-text {
	color: white;
	font-size: 1.0em;
	text-shadow: -1px 0 #102d35, 0 1px #102d35, 1px 0 #102d35, 0 -1px
		#102d35;
}

.titulo {
	font-size: 1.6em
}

.borda-azul {
	border: 2px solid #102d35;
}

.meu-grid {
	min-width: 350px
}

.banner {
	background-color: #102d35;
	color: white;
	padding: 5px;
}

.banner-head {
	font-size: 2.4em;
}

.banner-head-menor {
	font-size: 1.6em;
}

.banner .logout {
	text-decoration: underline;
	cursor: pointer;
}

.footer {
	background-color: #102d35;
	color: white;
	padding-top: 5px;
}

.footer a,.footer a:VISITED {
	color: white;
}

.sidebar a,.sidebar a:VISITED {
	color: black;
	text-decoration: none;
}

.sidebar-fn {
	cursor: pointer;
}

.head1 {
	font-size: large;
}

.head2 {
	font-size: medium;
}

.row-title .z-label {
	font-weight: bold;
	color: #636363;
}

.fn-caption .z-caption-l {
	font-weight: bold;
	font-size: medium;
	color: #636363;
}

.complete-todo .z-label {
	text-decoration: line-through;
}

.warn {
	color: red;
}

.demo-main a,.demo-main a:VISITED {
	color: #3090FC;
	text-decoration: none;
}
.demo-main a:HOVER {
	color: #0E509C;
	text-decoration: none;
}

.todo-box {
	padding-right: 4px;
}